[submodule "m-epics-twincat-ads"]
	path = m-epics-twincat-ads
	url = https://bitbucket.org/europeanspallationsource/m-epics-twincat-ads
	branch=anders/target
	ignore = dirty

[submodule "ADS"]
	path = ADS
	url = https://github.com/Beckhoff/ADS
	ignore = dirty

	
